<ion-header> </ion-header>

<ion-content color="primary" class="ion-padding ">
  <h2 class="ion-margin-bottom ion-text-center">Sign Up</h2>
  <div class="ion-padding ">
    <h2 class="ion-margin-bottom ">Welcome!!</h2>
    <ion-text>
      <p>Sign Up to get access the app</p>
    </ion-text>

    <div class="numbers ion-margin-top">
      <ion-label><small>Mobile Number</small></ion-label>
      <ion-input class="ion-margin-top "></ion-input>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button routerLink="/home" shape="round" color="light">Get OTP</ion-button
      >
    </div>
    <ion-text color="dark">
      <p class="ion-margin-vertical ion-text-center"><b>Or</b></p>
    </ion-text>

    <ion-text color="dark">
      <p class="ion-margin-vertical ion-text-center">
        <b>Already Have an Account ?</b>
      </p>
    </ion-text>

    <p routerLink="/login" class="ion-margin-vertical ion-text-center">
      <b>Sign In</b>
    </p>
  </div>
</ion-content>
