<ion-header>
  <ion-toolbar color="menu">
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title >Remarks Entry </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngIf="length > 1">
    <ion-label floating>Year</ion-label>
      <ion-select
      [(ngModel)]="yearId" 
        placeholder="Select"
        (ionChange)="getYear($event)">
        <ion-select-option
          *ngFor="let year of years;"
          [value]="year.id">
          {{year.year}}
        </ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Particulars</ion-label>
      <ion-select 
        [(ngModel)]="particularsId" 
        placeholder="Select"
        (ionChange)="getStudent($event)">
        <ion-select-option
          *ngFor="let item of assessmentParticular;"
          [value]="item.id">
          {{item.name}}
        </ion-select-option>
      </ion-select>
  </ion-item>

  <div class="thumnails" *ngIf="studentDetails">
    <div class="list-thumbnail">
      <div class="img-thumb">
        <form [formGroup]="myForm">
          <ion-grid  class="grid-bordered" >
            <ion-row class="row-text">
              <!-- <ion-col text-center class="ion-col" size="1">
                <p>Action</p>
              </ion-col> -->
              <ion-col text-center class="ion-col" size="1">
                <p>Roll No</p>
              </ion-col>
              <ion-col text-center class="ion-col" size="3">
                <p>Name</p>
              </ion-col>
              <ion-col text-center class="ion-col" size="3.5">
                <p>Remarks</p>
              </ion-col>
            </ion-row>
            <ion-row class="row-text" *ngFor="let student of studentDetails; let i=index">
              <!-- <ion-col text-center class="ion-col" size="1">
                <ion-label (click)="edit(student)" class="label_ion" >
                  <ion-icon  class="btn" name="create-outline"></ion-icon>
                </ion-label>
                &nbsp;&nbsp;
                <ion-label (click)="delete(student)" class="label_ion" *ngIf="student.remarks != null">
                  <ion-icon class="btn" name="trash-outline"></ion-icon>
                </ion-label>
              </ion-col>  -->
              <ion-col text-center class="ion-col" size="1">
                <ion-label class="label_ion" >{{student.roll_no}}</ion-label>
              </ion-col>
              <ion-col text-center class="ion-col" size="3">
                <ion-label class="label_ion" >{{student.student_name}}</ion-label>
              </ion-col>
              <ion-col text-center class="ion-col" size="3.5">
                <ion-input formControlName="remark{{i}}"    (ionChange)='edit($event, student)'  placeholder="Remarks"></ion-input>
                <!-- <ion-label class="label_ion" >{{student.remarks}}</ion-label> -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        
      </div>
    </div>
  </div>
</ion-content>
