ion-col {
    border: 1px solid gray!important;
    color: black;
    text-align: center;
}

.valData {
    font-size: 13px;
}

.HeadData {
    ion-col {
        color: #ae5c50;
        font-weight: bold;
    }
}