.back {
  padding: 6px 0px;
  text-decoration: underline;
  position: absolute;
  left: 10px;
  top: 17px;
  font-size: 18px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.78);
  border-radius: 50px;
  height: 30px;
  width: 30px;
  text-align: center;
  box-shadow: 0px 2px 4px #585858;
}
ion-item {
  margin: 0 30px !important;
  font-size: 14px !important;
}
h3 {
  font-size: 21px;
}
.login_container {
  // height: 800px;
  // background: url(../assets/imgs/login_bg.png);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Form_input5 {
  background: #fff;
  border-radius: 30px;
  padding: 10px 10px 10px 40px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(5, 1, 1, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#Form-pass5 {
  background: #fff;
  border-radius: 30px;
  padding: 10px 10px 10px 40px;
  width: 85%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

// .form-container{ padding-top: 80px; }

.lblLogin {
  margin-left: 30px;
  font-size: 13px !important;
}

.list-ios[inset] .item {
  border-bottom: 0px !important;
}

ion-item.login-row {
  background: none;
}
.login-row.item-inner {
  border: 0px !important;
}
.btn-rounded {
  background: #fff;
  border-radius: 30px;
  color: #000;
  width: 50%;
  margin-left: 25%;
  margin-top: -10px;
}
.login-btn {
  margin: 0 auto;
  width: 70%;
}

.footer-login.mx-5.pt-3.mb-1 {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 2% 0 0 0;
  // bottom: 0%;
}

.footer > img {
  margin-left: 45%;
}
.footer > p {
  margin-left: 25%;
}
.label-md[stacked],
.label-md[floating] {
  margin-left: 15px !important;
}

.list-md.item-block .item-inner {
  border-bottom: 0px !important;
}
.alert.alert-danger {
  //margin: 5px 0 0 0;
  color: red;
  font-size: 11px;
  padding:  4px 10px;
  text-align: center;
}
.scroll-content {
  overflow-y: scroll; //hidden;
}

// .item-md .item-input.item-inner {
//   border: 0px !important;
// }

//   $text-input-md-highlight-color-invalid: transparent;
//   $text-input-md-highlight-color-valid: transparent;
//   $text-input-md-show-invalid-highlight: transparent;
//   $text-input-md-highlight-color: transparent;
//   $text-input-md-show-valid-highlight: transparent;

// .item-inner {
//   border-bottom-color: transparent !important;
//   box-shadow: none !important;
// }

// .list-md
//   .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
// .list-md .item-input.item-input-has-focus:last-child,
// .list-md .item-input.input-has-focus:last-child,
// .list-md
//   .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
// .list-md
//   .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
//   border-bottom-color: transparent !important;
//   box-shadow: none !important;
// }

// .item-label-stacked .text-input-md,
// .item-label-floating .text-input-md {
//   margin: 11px 0px 7px 10px !important;
// }

.showPassword {
  background: none;
  font-size: small;
  margin-left: 10px;
}
ion-checkbox.checkPassword.checkbox.checkbox-md.checkbox-md-secondary,
ion-checkbox.checkPassword.checkbox.checkbox-ios.checkbox-ios-secondary {
  margin: 0px;
}
// ion-item.showPassword.item.item-block.item-ios.item-checkbox {
//   margin-left: 25px;
// }
.login-block {
  display: block;
  border: 1px solid #6b1a0d;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.52);
  margin: 0 auto;
width: 80%;
  padding: 14px 0;

  // margin: 90% 0 0 0;
}
/*----------Login Block Faculty--------------*/
.login-block-faculty {
  display: block;
  border: 1px solid #271e67;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.52);
  height: auto;
  margin: 0% 3% 0% 3%;
  padding: 14px;
}
/*--------------end Login Block Faculty ----------*/
.btn.btn-block {
  background: -webkit-linear-gradient(-8deg, #152453 0%, #152453 100%);
  color: #fff;
  margin: 0 auto;
}
img.img-fluid {
  width: 100%;
  // margin: 0 0 75px 0;
}
.lang-select {
  padding: 0px;
  width: 150px;
  margin: 0 0 0 180px;
  background: #271e67;
  color: #fff;
  border-radius: 40px;
}
.login-text {
  padding: 0px;
  margin: 0;
}
ion-select.lang-text.select.select-md.ng-pristine.ng-valid.ng-touched {
  padding: 13px 2px 10px 32px;
}
// ion-select {
//   max-width: 72%;
// }
.select-user {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 35px;
  margin: -60px 0 15px 0;
}
.login-text {
  text-align: center;
  font-weight: 500;
}
ion-icon.icon.icon-md.ion-md-person {
  color: #5702e9;
  margin: 0px 10px;
}
form {
  padding-top: 0px;
}
.alert-danger {
  background-color: #ffffff;
  border-color: #ffffff;
}
.list-ios[inset] {
  margin: 0px;
}
.ion-ios-person {
  color: #5702e9;
  padding: 0px 10px;
}
.item-ios.item-label-stacked .text-input,
.item-ios.item-label-floating .text-input {
  margin-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  width: calc(100% - 8px);
  padding: 0px 0px 0px 15px;
}
.checkbox-ios .checkbox-icon {
  border-radius: 5%;
  position: relative;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  background-color: #fff;
}
button.profile-icon.disable-hover.button.button-md.button-clear.button-clear-md {
  margin-left: 10%;
}
// .loginForm {
//   margin-top: 75%;
// }
.register {
  color: #106ee2;
  text-decoration: underline;
  font-weight: bold;
}
.btmText {
  text-align: center;
}
.passwd {
  top: 35px;
  // position: relative;
  // position: relative;
  color: #271e67;
  // position: relative;
  left: 20px;
  margin: 0px 10px;
}
// .................item styles
.item-label-floating.sc-ion-input-md-h,
.item-label-floating .sc-ion-input-md-h,
.item-label-stacked.sc-ion-input-md-h,
.item-label-stacked .sc-ion-input-md-h {
  position: relative;
  top: 14px;
}
.label-floating.sc-ion-label-md-h {
  position: relative !important;
  top: 10px !important;
}
// .......
.sh_pass{
  font-size: 13px;
  position: relative;
  bottom: 3px;
}
.back {
  padding: 10px 0px;
  text-decoration: underline;
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: white;
  background: 
  #41232d; 
  // rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  height: 35px;
  width: 35px;
  text-align: center;
  box-shadow: 0px 2px 4px #585858;
}