div {
    padding: 10px;
}

h4 {
 
    
    color: #ae5c50;
}
.label {
    color: white;
    padding: 7px;
    font-family: Arial;
    background-color: #620b23;
    float: right;
    text-align: center;
    font-size: 14px;
}
.img1 {
    width: 15px;
    top: 3px;
    position: relative;
}
.row {
    position: relative;
    right: 12px;
}