.message {
    margin-top: 70px;
}
.right-img {
    width: 40px;
    display: block;
    margin: 0 auto;
}

.message-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: green;
    font-size: 20px;
    padding: 10px;
}
.failed-img {
    width: 70px;
    display: block;
    margin: 0 auto;
}
.f-grid {
    margin: 40px;
}
.message-error {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: red;
    font-size: 20px;
    padding: 10px;
}
.something-error {
    text-align: center;
    display: block;
    margin: 0 auto;
    
}