ion-item {
	padding: 0 15px !important;
	//   .ion-label {
	//     margin: 0 auto !important;
	//   }
}
.brde {
	text-align: center;
	border: 1px solid #6b1a0d;
	padding: 4px 13px 20px;
	border-radius: 48px;
	margin: 0 13px;
}
.back {
	padding: 6px 0px;
	text-decoration: underline;
	position: absolute;
	left: 10px;
	top: 17px;
	font-size: 18px;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.78);
	border-radius: 50px;
	height: 30px;
	width: 30px;
	text-align: center;
	box-shadow: 0px 2px 4px #585858;
}
        