<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="text-center" style="text-align: center;">
    <img src="../../../assets/images/banner_2.png" class="img-fluid" alt="" />
  </div>

  <div class="brde">
    <h3>Change Password</h3>
    <form style="margin-top: 10px;" [formGroup]="changeForm">
      <ion-item class="form-group">
        <ion-label position="floating">Old Password</ion-label>
        <ion-input
        type="password"
        clearOnEdit="false"
        formControlName="oldpassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }"
        ></ion-input>
        <div
          *ngIf="submitted && f.oldpassword.errors"
          class="invalid-feedback red"
        >
          <div *ngIf="f.oldpassword.errors.required">
            Old Password is required
          </div>
          <div *ngIf="f.oldpassword.errors.minlength">
            Old Password must be at least 6 characters
          </div>
        </div>
      </ion-item>
      <ion-item class="form-group">
        <ion-label position="floating">New Password</ion-label>
        <ion-input
        type="password"
        clearOnEdit="false"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        ></ion-input>
        <div
          *ngIf="submitted && f.password.errors"
          class="invalid-feedback red"
        >
          <div *ngIf="f.password.errors.required">
            New Password is required
          </div>
          <div *ngIf="f.password.errors.minlength">
            New Password must be at least 6 characters
          </div>
        </div>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
        clearOnEdit="false"
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
          
        ></ion-input>
        <div
          *ngIf="submitted && f.confirmPassword.errors"
          class="invalid-feedback red"
        >
          <div *ngIf="f.confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
            Password miss match
          </div>
        </div>
      </ion-item>
      <!-- <p text-center>{{err}}</p> -->
      <div text-center style="margin-top: 10px;">
        <ion-button padding class="btn btn-primary" (click)="onSubmit()" color="tertiary"
          >Submit</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>