ion-list {
  background: var(--ion-color-menu);
}
ion-toolbar {
  background: var(--ion-color-menu-shade);
}
ion-thumbnail {
  border-radius: 50%;
}
ion-label {
  margin-left: 20px;
}
ion-item {
  font-size: 15px;
}

