.opem {
  text-align: center;
 
  h2 {
    font-size: 20px;
  }
 p{
   font-size: 14px;
 }

} ion-grid{
  margin-top: 25px;

 
 }
// ion-content {
//   border-top: 10px solid var(--ion-color-primary-shade);
// }