<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title> Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cont">
    <p class="ls">Infant Jesus School</p>
    <p class="ls">8th Mile, Amravati Road, Near Main Defence Gate, Wadi, Nagpur - 440023</p>
    <p href="tel:7768836456">
      <ion-icon name="call" outline></ion-icon>
      7768836456 / 9370670250
    </p>
    <p href="infantjesuswadi123@gmail.com">
      <ion-icon name="mail-open" outline></ion-icon>
      infantjesuswadi123@gmail.com
    </p>
  </ion-card>
</ion-content>
