<ion-header>
  <ion-toolbar color="menu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="text-center" style="text-align: center;">
    <img src="../../../assets/images/banner_2.png" class="img-fluid" alt="" />
  </div>

  <div class="brde">
    <h3>Change Password</h3>
    <form style="margin-top: 10px;" [formGroup]="registerForm">
      <ion-item class="form-group">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          clearOnEdit="false"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        ></ion-input>
        <div
          *ngIf="submitted && f.password.errors"
          class="invalid-feedback red"
        >
          <div *ngIf="f.password.errors.required">
            Password is required
          </div>
          <div *ngIf="f.password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </ion-item>

      <ion-item class="form-group">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          clearOnEdit="false"
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
        ></ion-input>
        <div
          *ngIf="submitted && f.confirmPassword.errors"
          class="invalid-feedback red"
        >
          <div *ngIf="f.confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">
            Password miss match
          </div>
        </div>
      </ion-item>
      <p text-center>{{err}}</p>
      <div text-center>
        <ion-button padding class="btn btn-primary" (click)="onSubmit()" color="tertiary"
          >Submit</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>

<!-- <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div> -->

<!-- <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
      />
      <div
        *ngIf="submitted && f.confirmPassword.errors"
        class="invalid-feedback"
      >
        <div *ngIf="f.confirmPassword.errors.required">
          Confirm Password is required
        </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
          Passwords must match
        </div>
      </div>
    </div>
  
  
  <div class="form-group">
      <button class="btn btn-primary">Register</button>
    </div>-->
