ion-item {
  padding: 0 15px !important;
  //   .ion-label {
  //     margin: 0 auto !important;
  //   }
}
.brde {
  text-align: center;
  border: 1px solid #6b1a0d;
  padding: 4px 13px 20px;
  border-radius: 48px;
  margin: 0 13px;
}
